[*.cs]
# Suppress
dotnet_diagnostic.CA1031.severity = none
dotnet_diagnostic.CA1812.severity = none
dotnet_diagnostic.CA1848.severity = none
dotnet_diagnostic.CA2007.severity = none
dotnet_diagnostic.CA2254.severity = none
dotnet_diagnostic.IDE0063.severity = none